<div class="text-center cover-container d-flex h-100 p-3 mx-auto flex-column mr-3">
<main role="main" class="inner cover">



<p style="color: white"><%= notice %></p>

<div class ="container py-5 w-50 border border-dark mt-2 bg-secondary">
  <h4 class=" container font-weight-bold justify-content-center"><%= render @project %></h4>




<%if user_signed_in?%>
<div class="container row justify-content-center">
  <div class="btn btn-outline-primary ml-3"><%= button_to "Edit this project", edit_project_path, method: :get, :class => "btn text-light btn-sm" %></div> 
  
  <div class="btn btn-outline-primary ml-3"><%= button_to "Destroy this project", @project, method: :delete, :class => "btn text-light btn-sm"  %></div> 
</div>
</div>
<%end%>

</div>
</main>

